* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0d1117;
    color: #fff !important;
}

.main {
    width: 100vw;
}


::-webkit-scrollbar {
    display: none;
}

.main-content {
    background: #0d1117;
    height: 100vh;
    /* position: fixed; */
    width: extend-to-end;
    display: flex;
    /* float: left; */
    /* min-width: 630px; */
    justify-content: center;

}

.main-content-container {
    width: 100%;
    max-width: 800px;
    height: 100vh;
    /* border-right: 2px solid #4d5157; */
    overflow-y: scroll;


}

.main-content-container td img {
    padding: 2px;
}

.main-content-container table {
    width: 100%;
}

.main-content-container table td {
    width: 33%;
}

.main-content-container table td img {
    width: 100%;
}

#load-more {
    width: 100%;
    height: 50px;
    background: #2d2f32;
    border: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 1em;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}



/* @media screen and (max-width: 1200px) {
    .main-content-container{
        padding-right: 0px;
    }
}
     */
.tab-menu {
    display: none;
    justify-content: space-evenly;
    padding: 0px 10px;
    border-bottom: 2px solid #1c1d1e;
    height: 3em;
}

.tab-menu img {
    padding-top: 5px;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 3px solid #0d1117;
}


@media screen and (max-width: 768px) {
    .navigation1 {
        display: none;
    }

    .main-content {
        flex-direction: column;
    }

    .tab-menu {
        display: flex;
    }
}